In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import metrics
from sklearn.metrics import log_loss
from sklearn.model_selection import learning_curve
%matplotlib inline
pd.set_option('display.max_columns', 500)
print("Seaborn version: ", sns.__version__)

Seaborn version:  0.9.0

#### Power Conference Feature

From EDA we know that a small number of conferences account for 70% of all confernece wins. 

If one of the two teams is in a power conference, indicate the advantage that team has for winning the game.

In [3]:
# Compare the conferences of two teams playing in a game.
# If both teams are in power conference or both teams are not in a power conference return 0.
# If the opponent team is in a power conference and the first team is not in a power conference return -1
# If the first team is a power conference team and opponent is not then return 1.

def conf_compare(team_conf, opp_conf):
    team_top = team_conf in top_tournament_conferences_list
    opp_top = opp_conf in top_tournament_conferences_list
    if team_top == opp_top:
        return 0
    elif team_top :
        return 1
    else:
        return -1

In [4]:
def join_feature_name_with_importance_value(features, importances):
    """
    Join via a list of tuples, feature names with their importance values
    :param features: data frame whose features are represented by columns used by classifier
    :param importances: feature importance scores assigned by classifier
    :return: sorted list (highest importances first) of feature,importance tuples
    """
    if features.columns.shape[0] != importances.shape[0]:
        return []

    feature_importances = []
    for item in range(features.columns.shape[0]):
        feature_importances.append((features.columns[item], importances[item]))
    feature_importances_sorted = sorted(feature_importances, reverse=True, key=lambda kv: abs(kv[1]))

    return feature_importances_sorted

In [5]:
def display_important_features_regression(classifier, features):
    importances = classifier.coef_[0]
    #print("Importances: ", importances) 
    feature_importances = join_feature_name_with_importance_value(features, importances)
    print('Coefficient Values')
    for items in feature_importances:
        print(items[0]," ", items[1])

In [6]:
def get_tournament_record(df, season, round_, team):
    return df[(df['season_t'] == season) & (df['round']== round_) & (df['team']==team)]

In [7]:
def print_game_info(df, season, round_, team):
    t_rec = get_tournament_record(df, season, round_, team)
    opp_team = t_rec['opp_team'].iloc[0]
    print('\t\t',team,'\t',opp_team)
    print('Seed','\t\t',"%6d"%t_rec['team_seed'].iloc[0],'\t',"%6d"%t_rec['opp_team_seed'].iloc[0])
    print('PPG','\t\t',"%6.2f"%t_rec['pts_avg_t'].iloc[0],'\t',"%6.2f"%t_rec['pts_avg_o'].iloc[0])
    print('Allow PPG','\t',"%6.2f"%t_rec['opp_pts_avg_t'].iloc[0],'\t',"%6.2f"%t_rec['opp_pts_avg_o'].iloc[0])
    print('Poss Avg','\t',"%6.2f"%t_rec['poss_avg_t'].iloc[0],'\t',"%6.2f"%t_rec['poss_avg_o'].iloc[0])
    print('FG %','\t\t',"%6.2f"%(100*t_rec['fg_pct_t'].iloc[0]),'\t',"%6.2f"%(100*t_rec['fg_pct_o'].iloc[0]))
    print('Allow FG %','\t',"%6.2f"%(100*t_rec['allow_fg_pct_t'].iloc[0]),'\t',"%6.2f"%(100*t_rec['allow_fg_pct_o'].iloc[0]))
    print('Off Rb Avg','\t',"%6.2f"%t_rec['off_rebs_avg_t'].iloc[0],'\t',"%6.2f"%t_rec['off_rebs_avg_o'].iloc[0])
    print('Allow Off Rb Avg',"%6.2f"%t_rec['allow_off_rebs_avg_t'].iloc[0],'\t',"%6.2f"%t_rec['allow_off_rebs_avg_o'].iloc[0])
    print('Def Rb Avg','\t',"%6.2f"%t_rec['def_rebs_avg_t'].iloc[0],'\t',"%6.2f"%t_rec['def_rebs_avg_o'].iloc[0])
    print('Allow Def Rb Avg',"%6.2f"%t_rec['allow_def_rebs_avg_t'].iloc[0],'\t',"%6.2f"%t_rec['allow_def_rebs_avg_o'].iloc[0])  
    print('FT ATT Avg','\t',"%6.2f"%t_rec['ft_att_avg_t'].iloc[0],'\t',"%6.2f"%t_rec['ft_att_avg_o'].iloc[0]) 
    print('Allow FT ATT Avg',"%6.2f"%t_rec['allow_ft_att_avg_t'].iloc[0],'\t',"%6.2f"%t_rec['allow_ft_att_avg_o'].iloc[0])
    print('FT %','\t\t',"%6.2f"%(100*t_rec['ft_pct_t'].iloc[0]),'\t',"%6.2f"%(100*t_rec['ft_pct_o'].iloc[0]))
    print('Turnover Avg','\t',"%6.2f"%t_rec['to_avg_t'].iloc[0],'\t',"%6.2f"%t_rec['to_avg_o'].iloc[0])
    print('Takeaway Avg','\t',"%6.2f"%t_rec['steal_avg_t'].iloc[0],'\t',"%6.2f"%t_rec['steal_avg_o'].iloc[0])
    print('Win %','\t\t',"%6.2f"%(100*t_rec['win_pct_t'].iloc[0]),'\t',"%6.2f"%(100*t_rec['win_pct_o'].iloc[0]))
    print('Off Rating','\t',"%6.2f"%t_rec['off_rating_t'].iloc[0],'\t',"%6.2f"%t_rec['off_rating_o'].iloc[0])
    print('\n\nTop Conference= ', t_rec['top_conf'].iloc[0])
    print('Game Result= ', t_rec['game_result'].iloc[0], ' (One indicates win for ', team,')')
    print('Predicted Result= ', t_rec['predicted_result'].iloc[0])
    print('Predicted Probability= ',"%6.3f"%t_rec['pred_win_prob'].iloc[0])
    return

#### Read in regular season team statistics from SRCBB https://www.sports-reference.com/cbb/

In [8]:
#Note season indicates start of season, e.g. 2013 to 2014, the corresponding tournament season is 1 greater than this value
# The tournament season for season 2013 is 2014
summary_data = pd.read_csv('sr_summaries_kaggle_id.csv')
print(summary_data.shape)

#display rows with NaNs
summary_data[summary_data.isnull().any(axis=1)]

(2439, 22)

Empty DataFrame
Columns: [season, School, team_id, Games, SRS, SOS, win_pct, pts_avg, opp_pts_avg, fg_pct, allow_fg_pct, ft_pct, allow_ft_att_avg, poss_avg, off_rebs_avg, allow_off_rebs_avg, def_rebs_avg, allow_def_rebs_avg, to_avg, steal_avg, off_rating, ft_att_avg]
Index: []

In [9]:
#drop records with NaNs
summary_data.dropna(inplace=True)
print(summary_data.shape)

(2439, 22)

#### Read table of team names and associated team meta data from the Kaggle data set.

https://console.cloud.google.com/bigquery?project=bigqueryncaa&p=bigquery-public-data&d=ncaa_basketball&page=dataset

In [10]:
# Read table of team names and associated team meta data
teams = pd.read_csv('D1_teams.csv')
teams.drop(columns=['code_ncaa','school_ncaa','turner_name','league_name','league_alias','conf_alias',
                    'conf_id','division_name','division_alias','division_id',
                    'kaggle_team_id','venue_id'], inplace=True)
teams.info()
teams.set_index('id',inplace=True)
teams.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 351 entries, 0 to 350
Data columns (total 2 columns):
id           351 non-null object
conf_name    351 non-null object
dtypes: object(2)
memory usage: 5.6+ KB

                                     conf_name
id
fe406882-9f22-495e-9df6-ef357a6803c6       Ivy
ca478771-aa3d-4231-81e0-b70f519134fb       Ivy
5c7bf63f-bc39-43c5-9907-73b50b7a6b34       Ivy
d60357bd-1205-42e9-9092-d986a2843a34       Ivy
88ff8c00-958e-4ccf-a21d-77fab9e93692       Ivy

#### Read in the NCAA Men's Tournament results from the the Kaggle data set.

In [11]:
tourney_data = pd.read_csv('tournament_results.csv')
tourney_data.drop(columns=['days_from_epoch','day','num_ot','academic_year','win_region','win_alias','lose_region',
                           'lose_alias','lose_code_ncaa','win_school_ncaa','win_code_ncaa','win_name','lose_name',
                           'win_pts','win_kaggle_team_id','lose_school_ncaa','lose_kaggle_team_id','lose_pts'],inplace=True)

tourney_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2117 entries, 0 to 2116
Data columns (total 9 columns):
season          2117 non-null int64
round           2117 non-null int64
game_date       2117 non-null object
win_seed        2117 non-null int64
win_market      2117 non-null object
win_team_id     2117 non-null object
lose_seed       2117 non-null int64
lose_market     2117 non-null object
lose_team_id    2117 non-null object
dtypes: int64(4), object(5)
memory usage: 148.9+ KB

### Extract some historical data

In [12]:
game_data = tourney_data.join(teams, on='win_team_id',how='left')
game_data.rename(columns={'kaggle_team_id':'win_kaggle_team_id','conf_name':'win_conf_name'}, inplace=True)
game_data = game_data.join(teams,on='lose_team_id',how='left')
game_data.rename(columns={'kaggle_team_id':'lose_kaggle_team_id','conf_name':'lose_conf_name'}, inplace=True)
games_won_conf = game_data.groupby('win_conf_name').size().reset_index(name='count').sort_values(by=['count'], ascending=False)

games_won_conf['percent'] = 100 * games_won_conf['count']/games_won_conf['count'].sum()
games_won_conf['cum_percent'] = games_won_conf['percent'].cumsum()
games_won_conf.head()

     win_conf_name  count    percent  cum_percent
3   Atlantic Coast    431  20.358999    20.358999
9          Big Ten    313  14.785073    35.144072
24    Southeastern    269  12.706660    47.850732
5           Big 12    231  10.911667    58.762400
22      Pacific 12    197   9.305621    68.068021

Identify the conferences that have won 70% of all conference games

In [13]:
top_tournament_conferences_list = games_won_conf[games_won_conf['cum_percent']<= 70]['win_conf_name'].tolist()
top_tournament_conferences_list

['Atlantic Coast', 'Big Ten', 'Southeastern', 'Big 12', 'Pacific 12']

In [14]:
tourney_data.describe()['season']

count    2117.000000
mean     2001.193198
std         9.563883
min      1985.000000
25%      1993.000000
50%      2001.000000
75%      2010.000000
max      2017.000000
Name: season, dtype: float64

Note the tournament data is available for tournament years 1985 through 2017.

In [15]:
summary_data.describe()['season']

count    2439.000000
mean     2013.015990
std         1.997987
min      2010.000000
25%      2011.000000
50%      2013.000000
75%      2015.000000
max      2016.000000
Name: season, dtype: float64

The summary season data in this set goes back to 2010. If more training data is needed we can go back to earlier seasons.

So the intersection of season summary data with tournament data are regular seasons 2010 through 2016.

In [16]:
tourney_data = tourney_data[tourney_data['season'] >= 2011]
tourney_data.describe()['season']

count     469.000000
mean     2014.000000
std         2.002136
min      2011.000000
25%      2012.000000
50%      2014.000000
75%      2016.000000
max      2017.000000
Name: season, dtype: float64

In [17]:
tourney_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 469 entries, 10 to 2104
Data columns (total 9 columns):
season          469 non-null int64
round           469 non-null int64
game_date       469 non-null object
win_seed        469 non-null int64
win_market      469 non-null object
win_team_id     469 non-null object
lose_seed       469 non-null int64
lose_market     469 non-null object
lose_team_id    469 non-null object
dtypes: int64(4), object(5)
memory usage: 36.6+ KB

In [18]:
tourney_data.head()

,season,round,game_date,win_seed,win_market,win_team_id,lose_seed,lose_market,lose_team_id
10,2013,64,2013-03-22,9,Temple,8598d1b6-106b-4083-a512-2e495729525a,8,North Carolina State,52df1e19-b142-4a76-a439-ad68455d0581
17,2011,64,2011-03-17,7,Temple,8598d1b6-106b-4083-a512-2e495729525a,10,Penn State,4aebd148-8119-4875-954c-66779867989b
27,2013,64,2013-03-21,5,Virginia Commonwealth,c1c1e6df-a383-4fbd-ba7b-32d4f9ef9518,12,Akron,56fe0ab2-e4f0-47b9-8726-9ce23ebcde20
29,2012,64,2012-03-15,12,Virginia Commonwealth,c1c1e6df-a383-4fbd-ba7b-32d4f9ef9518,5,Wichita State,f38b58de-3273-4723-a78b-2f918e9aa2d5
30,2011,8,2011-03-27,11,Virginia Commonwealth,c1c1e6df-a383-4fbd-ba7b-32d4f9ef9518,1,Kansas,fae4855b-1b64-4b40-a632-9ed345e1e952

In [19]:
# recode the tourney data so that the teams are not marked with  win/lose status and the game result is encoded as a binary
tourney_data['game_result'] = 1
tourney_data.game_result = tourney_data.game_result.astype(int)
tourney_data.rename(columns={"win_seed":"team_seed","win_market":"team","win_team_id":"team_id"}, inplace=True)
tourney_data.rename(columns={"lose_seed":"opp_team_seed","lose_market":"opp_team","lose_team_id":"opp_team_id"}, inplace=True)
tourney_data['start_season'] = tourney_data['season'] -1
tourney_data

,season,round,game_date,team_seed,team,team_id,opp_team_seed,opp_team,opp_team_id,game_result,start_season
10,2013,64,2013-03-22,9,Temple,8598d1b6-106b-4083-a512-2e495729525a,8,North Carolina State,52df1e19-b142-4a76-a439-ad68455d0581,1,2012
17,2011,64,2011-03-17,7,Temple,8598d1b6-106b-4083-a512-2e495729525a,10,Penn State,4aebd148-8119-4875-954c-66779867989b,1,2010
27,2013,64,2013-03-21,5,Virginia Commonwealth,c1c1e6df-a383-4fbd-ba7b-32d4f9ef9518,12,Akron,56fe0ab2-e4f0-47b9-8726-9ce23ebcde20,1,2012
29,2012,64,2012-03-15,12,Virginia Commonwealth,c1c1e6df-a383-4fbd-ba7b-32d4f9ef9518,5,Wichita State,f38b58de-3273-4723-a78b-2f918e9aa2d5,1,2011
30,2011,8,2011-03-27,11,Virginia Commonwealth,c1c1e6df-a383-4fbd-ba7b-32d4f9ef9518,1,Kansas,fae4855b-1b64-4b40-a632-9ed345e1e952,1,2010
31,2011,16,2011-03-25,11,Virginia Commonwealth,c1c1e6df-a383-4fbd-ba7b-32d4f9ef9518,10,Florida State,d3c8a767-b6fc-45d4-a5f2-18406f2993f1,1,2010
33,2011,32,2011-03-20,11,Virginia Commonwealth,c1c1e6df-a383-4fbd-ba7b-32d4f9ef9518,3,Purdue,12d7f888-675b-459f-9099-a38f771d8a95,1,2010
34,2011,64,2011-03-18,11,Virginia Commonwealth,c1c1e6df-a383-4fbd-ba7b-32d4f9ef9518,6,Georgetown,8736b67f-5924-400b-bf94-3bd804c36600,1,2010
35,2011,68,2011-03-16,11,Virginia Commonwealth,c1c1e6df-a383-4fbd-ba7b-32d4f9ef9518,11,USC,3a000455-de7c-4ca8-880e-abdce7f21da9,1,2010
36,2016,64,2016-03-18,10,Virginia Commonwealth,c1c1e6df-a383-4fbd-ba7b-32d4f9ef9518,7,Oregon State,532d3874-b4b3-4c5c-acc6-749a6db26c8f,1,2015
37,2013,64,2013-03-21,8,Colorado State,1a470730-f328-4fb1-8bbf-36a069e4d6b2,9,Missouri,77ca152a-cb2f-48a5-97b2-492351250d94,1,2012
44,2017,64,2017-03-17,11,Rhode Island,7e42bca2-3cd7-4aca-aa46-f190fe5d8eb4,6,Creighton,7d797407-623e-476d-b299-46de4275414d,1,2016
46,2015,64,2015-03-19,5,Utah,0d037a5d-827a-44dd-8b70-57603d671d5d,12,Stephen F. Austin,5ef64f01-86ae-4553-9834-c79cc0859eaf,1,2014
48,2016,64,2016-03-17,3,Utah,0d037a5d-827a-44dd-8b70-57603d671d5d,14,Fresno State,dd8db4d8-d984-4cab-b7f6-22c6b8c2c45f,1,2015
49,2015,32,2015-03-21,5,Utah,0d037a5d-827a-44dd-8b70-57603d671d5d,4,Georgetown,8736b67f-5924-400b-bf94-3bd804c36600,1,2014
72,2017,64,2017-03-17,3,Baylor,db6e1cab-3fa3-4a93-a673-8b2a358ff4bf,14,New Mexico State,5016fe1a-9571-4d10-bf5b-b9c1b496bd57,1,2016
73,2017,32,2017-03-19,3,Baylor,db6e1cab-3fa3-4a93-a673-8b2a358ff4bf,11,USC,3a000455-de7c-4ca8-880e-abdce7f21da9,1,2016
77,2012,16,2012-03-23,3,Baylor,db6e1cab-3fa3-4a93-a673-8b2a358ff4bf,10,Xavier,0d8a328f-20ce-410b-bed1-15fc01308aaf,1,2011
78,2012,64,2012-03-15,3,Baylor,db6e1cab-3fa3-4a93-a673-8b2a358ff4bf,14,South Dakota State,6ef40534-5fad-4755-84de-7dcbd645d1f0,1,2011
79,2012,32,2012-03-17,3,Baylor,db6e1cab-3fa3-4a93-a673-8b2a358ff4bf,11,Colorado,9fccbf28-2858-4263-821c-fdefb3c7efa3,1,2011
80,2014,64,2014-03-21,6,Baylor,db6e1cab-3fa3-4a93-a673-8b2a358ff4bf,11,Nebraska,f8b1bf00-5b73-4ac4-98c0-ec554027ae32,1,2013
81,2014,32,2014-03-23,6,Baylor,db6e1cab-3fa3-4a93-a673-8b2a358ff4bf,3,Creighton,7d797407-623e-476d-b299-46de4275414d,1,2013
82,2014,64,2014-03-21,14,Mercer,a14b0057-8eb5-43d2-a33b-666196da933e,3,Duke,faeb1160-5d15-4f26-99fc-c441cf21fc7f,1,2013
88,2014,64,2014-03-20,12,North Dakota State,984e7518-e418-45d5-9797-979b8c2085c1,5,Oklahoma,b2fda957-e15c-4fb2-8a13-6e58496f561e,1,2013
89,2012,68,2012-03-14,12,South Florida,55af9c69-3675-4b9b-a882-96640b782fff,12,California,aacdc78d-b7fa-48f6-9686-2fdb8a95030e,1,2011
90,2012,64,2012-03-16,12,South Florida,55af9c69-3675-4b9b-a882-96640b782fff,5,Temple,8598d1b6-106b-4083-a512-2e495729525a,1,2011
94,2017,64,2017-03-17,3,Oregon,1da70895-f77f-44ef-b216-d63c02e696eb,14,Iona,255c2a87-40c0-4989-bbb9-d286aac5d28e,1,2016
95,2017,16,2017-03-23,3,Oregon,1da70895-f77f-44ef-b216-d63c02e696eb,7,Michigan,bdc2561d-f603-4fab-a262-f1d2af462277,1,2016
97,2013,32,2013-03-23,12,Oregon,1da70895-f77f-44ef-b216-d63c02e696eb,4,Saint Louis,1e42cce3-236b-4f3e-9650-2c45e6332e1e,1,2012
98,2013,64,2013-03-21,12,Oregon,1da70895-f77f-44ef-b216-d63c02e696eb,5,Oklahoma State,8ab00d43-840a-4c96-bdee-bf88fa6e3f11,1,2012
...,...,...,...,...,...,...,...,...,...,...,...
1919,2012,64,2012-03-16,10,Purdue,12d7f888-675b-459f-9099-a38f771d8a95,7,Saint Mary's,b18f34af-a7f1-4659-a2e5-fc11a31cd316,1,2011
1925,2017,32,2017-03-18,4,Purdue,12d7f888-675b-459f-9099-a38f771d8a95,5,Iowa State,0e4258fa-3154-4c16-b693-adecab184c6c,1,2016
1926,2017,64,2017-03-16,4,Purdue,12d7f888-675b-459f-9099-a38f771d8a95,13,Vermont,18e89867-9201-41ce-ba19-fadddf92fa17,1,2016
1928,2011,64,2011-03-18,3,Purdue,12d7f888-675b-459f-9099-a38f771d8a95,14,St. Peter's,e66d7ed2-9b4c-48c8-adaa-a276793b057d,1,2010
1957,2013,64,2013-03-21,12,California,aacdc78d-b7fa-48f6-9686-2fdb8a95030e,5,UNLV,68a3227f-677f-43b0-9a3a-cad79d0df9e2,1,2012
1964,2011,64,2011-03-17,5,West Virginia,f770d3a2-221c-49ce-9c7a-680f7417fe9e,12,Clemson,dcf5c2e7-c227-4c20-af26-715d5f859412,1,2010
1976,2017,64,2017-03-16,4,West Virginia,f770d3a2-221c-49ce-9c7a-680f7417fe9e,13,Bucknell,98d2123a-c7b9-4b5f-8a81-43f76d8537dc,1,2016
1978,2017,32,2017-03-18,4,West Virginia,f770d3a2-221c-49ce-9c7a-680f7417fe9e,5,Notre Dame,80962f09-8821-48b6-8cf0-0cf0eea56aa8,1,2016
1979,2015,32,2015-03-22,5,West Virginia,f770d3a2-221c-49ce-9c7a-680f7417fe9e,4,Maryland,2778d005-cc14-4e58-9bf2-3fc37bffb62f,1,2014
1980,2015,64,2015-03-20,5,West Virginia,f770d3a2-221c-49ce-9c7a-680f7417fe9e,12,Buffalo,a9f5c9a2-342c-4881-9996-5d5c05ec9bd9,1,2014
1984,2017,68,2017-03-14,16,Mount St. Mary's,5fe4a398-1699-4442-a364-305b2f0ac01e,16,New Orleans,e7ff6d5c-07e9-42af-955d-0a0b8c1e2288,1,2016
2001,2011,64,2011-03-18,11,Marquette,06f7c904-0ac7-4125-b0f4-f4871bb69057,6,Xavier,0d8a328f-20ce-410b-bed1-15fc01308aaf,1,2010
2002,2013,16,2013-03-28,3,Marquette,06f7c904-0ac7-4125-b0f4-f4871bb69057,2,Miami (FL),7aec5187-cb1b-45e5-8f7d-406d766cdc73,1,2012
2003,2013,64,2013-03-21,3,Marquette,06f7c904-0ac7-4125-b0f4-f4871bb69057,14,Davidson,2920c5fa-1e86-4958-a7c4-1e97b8e201d8,1,2012
2004,2013,32,2013-03-23,3,Marquette,06f7c904-0ac7-4125-b0f4-f4871bb69057,6,Butler,bdb7d7a4-45f8-4bf3-ab85-15488c451494,1,2012
2005,2011,32,2011-03-20,11,Marquette,06f7c904-0ac7-4125-b0f4-f4871bb69057,3,Syracuse,8cd24de1-2be8-4b77-bcfa-47be0495a5f4,1,2010
2014,2012,64,2012-03-15,3,Marquette,06f7c904-0ac7-4125-b0f4-f4871bb69057,14,BYU,c31455b2-8a45-4248-aa8f-ce7eab1c6b02,1,2011
2015,2012,32,2012-03-17,3,Marquette,06f7c904-0ac7-4125-b0f4-f4871bb69057,6,Murray State,77a69fb0-1355-4342-ac09-b4cc7949d95e,1,2011
2023,2016,16,2016-03-25,6,Notre Dame,80962f09-8821-48b6-8cf0-0cf0eea56aa8,7,Wisconsin,c7569eae-5b93-4197-b204-6f3a62146b25,1,2015
2024,2016,32,2016-03-20,6,Notre Dame,80962f09-8821-48b6-8cf0-0cf0eea56aa8,14,Stephen F. Austin,5ef64f01-86ae-4553-9834-c79cc0859eaf,1,2015
2028,2016,64,2016-03-18,6,Notre Dame,80962f09-8821-48b6-8cf0-0cf0eea56aa8,11,Michigan,bdc2561d-f603-4fab-a262-f1d2af462277,1,2015
2029,2017,64,2017-03-16,5,Notre Dame,80962f09-8821-48b6-8cf0-0cf0eea56aa8,12,Princeton,fe406882-9f22-495e-9df6-ef357a6803c6,1,2016
2030,2015,32,2015-03-21,3,Notre Dame,80962f09-8821-48b6-8cf0-0cf0eea56aa8,6,Butler,bdb7d7a4-45f8-4bf3-ab85-15488c451494,1,2014
2031,2015,16,2015-03-26,3,Notre Dame,80962f09-8821-48b6-8cf0-0cf0eea56aa8,7,Wichita State,f38b58de-3273-4723-a78b-2f918e9aa2d5,1,2014
2034,2015,64,2015-03-19,3,Notre Dame,80962f09-8821-48b6-8cf0-0cf0eea56aa8,14,Northeastern,93df9b18-e9fc-42a7-bb45-a736c203b4dc,1,2014
2037,2011,64,2011-03-18,2,Notre Dame,80962f09-8821-48b6-8cf0-0cf0eea56aa8,15,Akron,56fe0ab2-e4f0-47b9-8726-9ce23ebcde20,1,2010
2045,2013,64,2013-03-22,11,Minnesota,fa416692-7e09-4f0a-9bcf-0cf7d5149a14,6,UCLA,ec0d6b67-4b16-4b50-92b2-1a651dae6b0f,1,2012
2054,2012,64,2012-03-16,15,Lehigh,508f503f-dc57-4f4c-a01e-4f195e5c05c8,2,Duke,faeb1160-5d15-4f26-99fc-c441cf21fc7f,1,2011
2082,2013,64,2013-03-22,7,Illinois,150148c2-ca8f-414f-8f41-d94a55d4a122,10,Colorado,9fccbf28-2858-4263-821c-fdefb3c7efa3,1,2012
2104,2011,64,2011-03-18,9,Illinois,150148c2-ca8f-414f-8f41-d94a55d4a122,8,UNLV,68a3227f-677f-43b0-9a3a-cad79d0df9e2,1,2010

In [20]:
# We need to recode the game data so that we have representation of the losing game result class.
# Swap the team and opp team data on the odd rows and reverse the sense of the game result.

#create some temporary buffer columns
tourney_data['copy_team'] = tourney_data['team']
tourney_data['copy_team_seed'] = tourney_data['team_seed']
tourney_data['copy_team_id'] = tourney_data['team_id']

#swap the team and opp team data
tourney_data.loc[1::2,'team'] = tourney_data.loc[1::2,'opp_team']
tourney_data.loc[1::2,'opp_team'] = tourney_data.loc[1::2,'copy_team']
tourney_data.loc[1::2,'team_seed'] = tourney_data.loc[1::2,'opp_team_seed']
tourney_data.loc[1::2,'opp_team_seed'] = tourney_data.loc[1::2,'copy_team_seed']
tourney_data.loc[1::2,'team_id'] = tourney_data.loc[1::2,'opp_team_id']
tourney_data.loc[1::2,'opp_team_id'] = tourney_data.loc[1::2,'copy_team_id']

# flip the game result
tourney_data.loc[1::2,'game_result'] = 0

#drop the temporary columns
tourney_data.drop(columns=['copy_team','copy_team_seed','copy_team_id'],inplace=True)
tourney_data.head()

,season,round,game_date,team_seed,team,team_id,opp_team_seed,opp_team,opp_team_id,game_result,start_season
10,2013,64,2013-03-22,8,North Carolina State,52df1e19-b142-4a76-a439-ad68455d0581,9,Temple,8598d1b6-106b-4083-a512-2e495729525a,0,2012
17,2011,64,2011-03-17,7,Temple,8598d1b6-106b-4083-a512-2e495729525a,10,Penn State,4aebd148-8119-4875-954c-66779867989b,1,2010
27,2013,64,2013-03-21,12,Akron,56fe0ab2-e4f0-47b9-8726-9ce23ebcde20,5,Virginia Commonwealth,c1c1e6df-a383-4fbd-ba7b-32d4f9ef9518,0,2012
29,2012,64,2012-03-15,12,Virginia Commonwealth,c1c1e6df-a383-4fbd-ba7b-32d4f9ef9518,5,Wichita State,f38b58de-3273-4723-a78b-2f918e9aa2d5,1,2011
30,2011,8,2011-03-27,1,Kansas,fae4855b-1b64-4b40-a632-9ed345e1e952,11,Virginia Commonwealth,c1c1e6df-a383-4fbd-ba7b-32d4f9ef9518,0,2010

In [21]:

tourney_data = tourney_data.merge(summary_data, left_on=['start_season','team_id'], 
                                right_on=['season', 'team_id'],how='left',suffixes=('','_y'))

tourney_data.drop(columns=['season_y'],inplace=True)
#tourney_data.info()

In [22]:
tourney_data = tourney_data.merge(summary_data, left_on=['start_season','opp_team_id'], 
                                right_on=['season', 'team_id'], how='left',suffixes=('_t','_o'))
#tourney_data.info()

In [23]:
tourney_data.head()

,season_t,round,game_date,team_seed,team,team_id_t,opp_team_seed,opp_team,opp_team_id,game_result,start_season,School_t,Games_t,SRS_t,SOS_t,win_pct_t,pts_avg_t,opp_pts_avg_t,fg_pct_t,allow_fg_pct_t,ft_pct_t,allow_ft_att_avg_t,poss_avg_t,off_rebs_avg_t,allow_off_rebs_avg_t,def_rebs_avg_t,allow_def_rebs_avg_t,to_avg_t,steal_avg_t,off_rating_t,ft_att_avg_t,season_o,School_o,team_id_o,Games_o,SRS_o,SOS_o,win_pct_o,pts_avg_o,opp_pts_avg_o,fg_pct_o,allow_fg_pct_o,ft_pct_o,allow_ft_att_avg_o,poss_avg_o,off_rebs_avg_o,allow_off_rebs_avg_o,def_rebs_avg_o,allow_def_rebs_avg_o,to_avg_o,steal_avg_o,off_rating_o,ft_att_avg_o
0,2013,64,2013-03-22,8,North Carolina State,52df1e19-b142-4a76-a439-ad68455d0581,9,Temple,8598d1b6-106b-4083-a512-2e495729525a,0,2012,North Carolina State,35,14.32,7.17,0.686,77,70,0.496,0.419,0.681,17,78.434286,11,12,22,21,12,6,98.171354,23,2012,Temple,8598d1b6-106b-4083-a512-2e495729525a,34,9.52,5.20,0.706,72,67,0.428,0.438,0.723,18,77.494118,11,10,19,25,10,7,92.910278,20
1,2011,64,2011-03-17,7,Temple,8598d1b6-106b-4083-a512-2e495729525a,10,Penn State,4aebd148-8119-4875-954c-66779867989b,1,2010,Temple,34,12.35,4.23,0.765,70,62,0.447,0.435,0.698,19,75.688235,11,11,24,22,10,6,92.484651,19,2010,Penn State,4aebd148-8119-4875-954c-66779867989b,34,11.98,11.45,0.559,63,62,0.439,0.434,0.724,21,68.341176,9,8,21,23,10,4,92.184541,16
2,2013,64,2013-03-21,12,Akron,56fe0ab2-e4f0-47b9-8726-9ce23ebcde20,5,Virginia Commonwealth,c1c1e6df-a383-4fbd-ba7b-32d4f9ef9518,0,2012,Akron,33,8.11,0.18,0.788,71,62,0.455,0.395,0.643,19,78.884848,12,10,21,21,13,7,90.004610,20,2012,Virginia Commonwealth,c1c1e6df-a383-4fbd-ba7b-32d4f9ef9518,36,16.89,4.47,0.750,76,64,0.450,0.444,0.701,20,81.044444,13,11,18,23,11,11,93.775706,18
3,2012,64,2012-03-15,12,Virginia Commonwealth,c1c1e6df-a383-4fbd-ba7b-32d4f9ef9518,5,Wichita State,f38b58de-3273-4723-a78b-2f918e9aa2d5,1,2011,Virginia Commonwealth,36,8.79,0.63,0.806,68,59,0.410,0.424,0.685,18,76.305556,12,10,18,24,11,10,89.115399,20,2011,Wichita State,f38b58de-3273-4723-a78b-2f918e9aa2d5,33,17.42,3.80,0.818,77,62,0.482,0.393,0.748,18,77.496970,10,9,24,21,12,6,99.358724,19
4,2011,8,2011-03-27,1,Kansas,fae4855b-1b64-4b40-a632-9ed345e1e952,11,Virginia Commonwealth,c1c1e6df-a383-4fbd-ba7b-32d4f9ef9518,0,2010,Kansas,38,24.10,7.62,0.921,81,64,0.508,0.380,0.679,18,80.126316,11,10,27,21,13,7,101.090384,22,2010,Virginia Commonwealth,c1c1e6df-a383-4fbd-ba7b-32d4f9ef9518,40,8.56,3.78,0.700,71,66,0.434,0.424,0.715,18,75.240000,10,10,21,24,11,8,94.364700,20

Incorporate additional features here.
Team conference, seeding deltas.

In [24]:
tourney_data = tourney_data.join(teams, on='team_id_t', how='left')

In [25]:
tourney_data = tourney_data.join(teams, on='opp_team_id', how='left', lsuffix='_t', rsuffix='_o')
tourney_data.head()

,season_t,round,game_date,team_seed,team,team_id_t,opp_team_seed,opp_team,opp_team_id,game_result,start_season,School_t,Games_t,SRS_t,SOS_t,win_pct_t,pts_avg_t,opp_pts_avg_t,fg_pct_t,allow_fg_pct_t,ft_pct_t,allow_ft_att_avg_t,poss_avg_t,off_rebs_avg_t,allow_off_rebs_avg_t,def_rebs_avg_t,allow_def_rebs_avg_t,to_avg_t,steal_avg_t,off_rating_t,ft_att_avg_t,season_o,School_o,team_id_o,Games_o,SRS_o,SOS_o,win_pct_o,pts_avg_o,opp_pts_avg_o,fg_pct_o,allow_fg_pct_o,ft_pct_o,allow_ft_att_avg_o,poss_avg_o,off_rebs_avg_o,allow_off_rebs_avg_o,def_rebs_avg_o,allow_def_rebs_avg_o,to_avg_o,steal_avg_o,off_rating_o,ft_att_avg_o,conf_name_t,conf_name_o
0,2013,64,2013-03-22,8,North Carolina State,52df1e19-b142-4a76-a439-ad68455d0581,9,Temple,8598d1b6-106b-4083-a512-2e495729525a,0,2012,North Carolina State,35,14.32,7.17,0.686,77,70,0.496,0.419,0.681,17,78.434286,11,12,22,21,12,6,98.171354,23,2012,Temple,8598d1b6-106b-4083-a512-2e495729525a,34,9.52,5.20,0.706,72,67,0.428,0.438,0.723,18,77.494118,11,10,19,25,10,7,92.910278,20,Atlantic Coast,American Athletic
1,2011,64,2011-03-17,7,Temple,8598d1b6-106b-4083-a512-2e495729525a,10,Penn State,4aebd148-8119-4875-954c-66779867989b,1,2010,Temple,34,12.35,4.23,0.765,70,62,0.447,0.435,0.698,19,75.688235,11,11,24,22,10,6,92.484651,19,2010,Penn State,4aebd148-8119-4875-954c-66779867989b,34,11.98,11.45,0.559,63,62,0.439,0.434,0.724,21,68.341176,9,8,21,23,10,4,92.184541,16,American Athletic,Big Ten
2,2013,64,2013-03-21,12,Akron,56fe0ab2-e4f0-47b9-8726-9ce23ebcde20,5,Virginia Commonwealth,c1c1e6df-a383-4fbd-ba7b-32d4f9ef9518,0,2012,Akron,33,8.11,0.18,0.788,71,62,0.455,0.395,0.643,19,78.884848,12,10,21,21,13,7,90.004610,20,2012,Virginia Commonwealth,c1c1e6df-a383-4fbd-ba7b-32d4f9ef9518,36,16.89,4.47,0.750,76,64,0.450,0.444,0.701,20,81.044444,13,11,18,23,11,11,93.775706,18,Mid-American,Atlantic 10
3,2012,64,2012-03-15,12,Virginia Commonwealth,c1c1e6df-a383-4fbd-ba7b-32d4f9ef9518,5,Wichita State,f38b58de-3273-4723-a78b-2f918e9aa2d5,1,2011,Virginia Commonwealth,36,8.79,0.63,0.806,68,59,0.410,0.424,0.685,18,76.305556,12,10,18,24,11,10,89.115399,20,2011,Wichita State,f38b58de-3273-4723-a78b-2f918e9aa2d5,33,17.42,3.80,0.818,77,62,0.482,0.393,0.748,18,77.496970,10,9,24,21,12,6,99.358724,19,Atlantic 10,American Athletic
4,2011,8,2011-03-27,1,Kansas,fae4855b-1b64-4b40-a632-9ed345e1e952,11,Virginia Commonwealth,c1c1e6df-a383-4fbd-ba7b-32d4f9ef9518,0,2010,Kansas,38,24.10,7.62,0.921,81,64,0.508,0.380,0.679,18,80.126316,11,10,27,21,13,7,101.090384,22,2010,Virginia Commonwealth,c1c1e6df-a383-4fbd-ba7b-32d4f9ef9518,40,8.56,3.78,0.700,71,66,0.434,0.424,0.715,18,75.240000,10,10,21,24,11,8,94.364700,20,Big 12,Atlantic 10

#### Add a feature
top_conf = 1 if team is a top conference and opponent is not
top_conf = -1 if opp_team is a top_conference and team is not
top_conf = 0 otherwise

In [26]:
print(top_tournament_conferences_list)
tourney_data['top_conf'] = tourney_data.apply(lambda row: conf_compare(row.conf_name_t, row.conf_name_o),axis=1)
tourney_data.head(10)[['game_result','conf_name_t','conf_name_o','top_conf']]

['Atlantic Coast', 'Big Ten', 'Southeastern', 'Big 12', 'Pacific 12']

   game_result        conf_name_t        conf_name_o  top_conf
0            0     Atlantic Coast  American Athletic         1
1            1  American Athletic            Big Ten        -1
2            0       Mid-American        Atlantic 10         0
3            1        Atlantic 10  American Athletic         0
4            0             Big 12        Atlantic 10         1
5            1        Atlantic 10     Atlantic Coast        -1
6            0            Big Ten        Atlantic 10         1
7            1        Atlantic 10           Big East         0
8            0         Pacific 12        Atlantic 10         1
9            1        Atlantic 10         Pacific 12        -1

In [27]:
# Upsets occur less than 30% of the time when seeding deltas are more than 6
tourney_data['upset_seed_threshold'] = tourney_data.apply(lambda row: abs(row.team_seed - row.opp_team_seed) > 6, axis=1).astype(int)
tourney_data.head()

,season_t,round,game_date,team_seed,team,team_id_t,opp_team_seed,opp_team,opp_team_id,game_result,start_season,School_t,Games_t,SRS_t,SOS_t,win_pct_t,pts_avg_t,opp_pts_avg_t,fg_pct_t,allow_fg_pct_t,ft_pct_t,allow_ft_att_avg_t,poss_avg_t,off_rebs_avg_t,allow_off_rebs_avg_t,def_rebs_avg_t,allow_def_rebs_avg_t,to_avg_t,steal_avg_t,off_rating_t,ft_att_avg_t,season_o,School_o,team_id_o,Games_o,SRS_o,SOS_o,win_pct_o,pts_avg_o,opp_pts_avg_o,fg_pct_o,allow_fg_pct_o,ft_pct_o,allow_ft_att_avg_o,poss_avg_o,off_rebs_avg_o,allow_off_rebs_avg_o,def_rebs_avg_o,allow_def_rebs_avg_o,to_avg_o,steal_avg_o,off_rating_o,ft_att_avg_o,conf_name_t,conf_name_o,top_conf,upset_seed_threshold
0,2013,64,2013-03-22,8,North Carolina State,52df1e19-b142-4a76-a439-ad68455d0581,9,Temple,8598d1b6-106b-4083-a512-2e495729525a,0,2012,North Carolina State,35,14.32,7.17,0.686,77,70,0.496,0.419,0.681,17,78.434286,11,12,22,21,12,6,98.171354,23,2012,Temple,8598d1b6-106b-4083-a512-2e495729525a,34,9.52,5.20,0.706,72,67,0.428,0.438,0.723,18,77.494118,11,10,19,25,10,7,92.910278,20,Atlantic Coast,American Athletic,1,0
1,2011,64,2011-03-17,7,Temple,8598d1b6-106b-4083-a512-2e495729525a,10,Penn State,4aebd148-8119-4875-954c-66779867989b,1,2010,Temple,34,12.35,4.23,0.765,70,62,0.447,0.435,0.698,19,75.688235,11,11,24,22,10,6,92.484651,19,2010,Penn State,4aebd148-8119-4875-954c-66779867989b,34,11.98,11.45,0.559,63,62,0.439,0.434,0.724,21,68.341176,9,8,21,23,10,4,92.184541,16,American Athletic,Big Ten,-1,0
2,2013,64,2013-03-21,12,Akron,56fe0ab2-e4f0-47b9-8726-9ce23ebcde20,5,Virginia Commonwealth,c1c1e6df-a383-4fbd-ba7b-32d4f9ef9518,0,2012,Akron,33,8.11,0.18,0.788,71,62,0.455,0.395,0.643,19,78.884848,12,10,21,21,13,7,90.004610,20,2012,Virginia Commonwealth,c1c1e6df-a383-4fbd-ba7b-32d4f9ef9518,36,16.89,4.47,0.750,76,64,0.450,0.444,0.701,20,81.044444,13,11,18,23,11,11,93.775706,18,Mid-American,Atlantic 10,0,1
3,2012,64,2012-03-15,12,Virginia Commonwealth,c1c1e6df-a383-4fbd-ba7b-32d4f9ef9518,5,Wichita State,f38b58de-3273-4723-a78b-2f918e9aa2d5,1,2011,Virginia Commonwealth,36,8.79,0.63,0.806,68,59,0.410,0.424,0.685,18,76.305556,12,10,18,24,11,10,89.115399,20,2011,Wichita State,f38b58de-3273-4723-a78b-2f918e9aa2d5,33,17.42,3.80,0.818,77,62,0.482,0.393,0.748,18,77.496970,10,9,24,21,12,6,99.358724,19,Atlantic 10,American Athletic,0,1
4,2011,8,2011-03-27,1,Kansas,fae4855b-1b64-4b40-a632-9ed345e1e952,11,Virginia Commonwealth,c1c1e6df-a383-4fbd-ba7b-32d4f9ef9518,0,2010,Kansas,38,24.10,7.62,0.921,81,64,0.508,0.380,0.679,18,80.126316,11,10,27,21,13,7,101.090384,22,2010,Virginia Commonwealth,c1c1e6df-a383-4fbd-ba7b-32d4f9ef9518,40,8.56,3.78,0.700,71,66,0.434,0.424,0.715,18,75.240000,10,10,21,24,11,8,94.364700,20,Big 12,Atlantic 10,1,1

In [28]:
numeric_feature_to_scale = ['pts_avg_t','opp_pts_avg_t',
                            'off_rebs_avg_t','allow_off_rebs_avg_t',
                            'def_rebs_avg_t','allow_def_rebs_avg_t',
                            'ft_att_avg_t','allow_ft_att_avg_t',
                            'to_avg_t','steal_avg_t',
                            'SRS_t','SOS_t',
                            'off_rating_t',
                            'pts_avg_o','opp_pts_avg_o',
                            'off_rebs_avg_o','allow_off_rebs_avg_o',
                            'def_rebs_avg_o','allow_def_rebs_avg_o',
                            'ft_att_avg_o','allow_ft_att_avg_o',
                            'to_avg_o','steal_avg_o',
                            'SRS_o','SOS_o',
                            'off_rating_o']

scaler =StandardScaler()
tourney_data[numeric_feature_to_scale] = scaler.fit_transform(tourney_data[numeric_feature_to_scale])
tourney_data.head()

,season_t,round,game_date,team_seed,team,team_id_t,opp_team_seed,opp_team,opp_team_id,game_result,start_season,School_t,Games_t,SRS_t,SOS_t,win_pct_t,pts_avg_t,opp_pts_avg_t,fg_pct_t,allow_fg_pct_t,ft_pct_t,allow_ft_att_avg_t,poss_avg_t,off_rebs_avg_t,allow_off_rebs_avg_t,def_rebs_avg_t,allow_def_rebs_avg_t,to_avg_t,steal_avg_t,off_rating_t,ft_att_avg_t,season_o,School_o,team_id_o,Games_o,SRS_o,SOS_o,win_pct_o,pts_avg_o,opp_pts_avg_o,fg_pct_o,allow_fg_pct_o,ft_pct_o,allow_ft_att_avg_o,poss_avg_o,off_rebs_avg_o,allow_off_rebs_avg_o,def_rebs_avg_o,allow_def_rebs_avg_o,to_avg_o,steal_avg_o,off_rating_o,ft_att_avg_o,conf_name_t,conf_name_o,top_conf,upset_seed_threshold
0,2013,64,2013-03-22,8,North Carolina State,52df1e19-b142-4a76-a439-ad68455d0581,9,Temple,8598d1b6-106b-4083-a512-2e495729525a,0,2012,North Carolina State,35,-0.007116,0.295521,0.686,0.762567,1.202634,0.496,0.419,0.681,-0.329309,78.434286,0.124199,1.486906,-0.728602,-0.586560,0.499238,-0.175949,0.515246,0.813407,2012,Temple,8598d1b6-106b-4083-a512-2e495729525a,34,-0.594452,-0.120888,0.706,-0.286178,0.476227,0.428,0.438,0.723,0.015550,77.494118,0.114672,-0.080050,-1.955229,1.759565,-0.937318,0.573192,-0.506838,-0.318450,Atlantic Coast,American Athletic,1,0
1,2011,64,2011-03-17,7,Temple,8598d1b6-106b-4083-a512-2e495729525a,10,Penn State,4aebd148-8119-4875-954c-66779867989b,1,2010,Temple,34,-0.261355,-0.306070,0.765,-0.679546,-0.472304,0.447,0.435,0.698,0.399210,75.688235,0.124199,0.734631,0.124617,0.016722,-0.870016,-0.175949,-0.612197,-0.753279,2010,Penn State,4aebd148-8119-4875-954c-66779867989b,34,-0.270064,1.148510,0.559,-2.110890,-0.614351,0.439,0.434,0.724,1.109496,68.341176,-1.005772,-1.552344,-1.110844,0.595622,-0.937318,-1.583176,-0.652509,-1.800864,American Athletic,Big Ten,-1,0
2,2013,64,2013-03-21,12,Akron,56fe0ab2-e4f0-47b9-8726-9ce23ebcde20,5,Virginia Commonwealth,c1c1e6df-a383-4fbd-ba7b-32d4f9ef9518,0,2012,Akron,33,-0.808551,-1.134792,0.788,-0.473530,-0.472304,0.455,0.395,0.643,0.399210,78.884848,0.718581,-0.017644,-1.155212,-0.586560,1.183865,0.617513,-1.103889,-0.361607,2012,Virginia Commonwealth,c1c1e6df-a383-4fbd-ba7b-32d4f9ef9518,36,0.377392,-0.269153,0.750,0.524804,-0.178120,0.450,0.444,0.701,0.744847,81.044444,1.235117,0.656097,-2.377422,0.595622,-0.273266,3.448350,-0.333128,-1.059657,Mid-American,Atlantic 10,0,1
3,2012,64,2012-03-15,12,Virginia Commonwealth,c1c1e6df-a383-4fbd-ba7b-32d4f9ef9518,5,Wichita State,f38b58de-3273-4723-a78b-2f918e9aa2d5,1,2011,Virginia Commonwealth,36,-0.720793,-1.042712,0.806,-1.091578,-1.100406,0.410,0.424,0.685,0.034950,76.305556,0.718581,-0.017644,-2.435041,1.223287,-0.185389,2.997900,-1.280184,-0.361607,2011,Wichita State,f38b58de-3273-4723-a78b-2f918e9aa2d5,33,0.447281,-0.405233,0.818,0.727550,-0.614351,0.482,0.393,0.748,0.015550,77.496970,-0.445550,-0.816197,0.155734,-0.568322,0.390785,-0.145597,0.787506,-0.689054,Atlantic 10,American Athletic,0,1
4,2011,8,2011-03-27,1,Kansas,fae4855b-1b64-4b40-a632-9ed345e1e952,11,Virginia Commonwealth,c1c1e6df-a383-4fbd-ba7b-32d4f9ef9518,0,2010,Kansas,38,1.255048,0.387601,0.921,1.586632,-0.053569,0.508,0.380,0.679,0.034950,80.126316,0.124199,-0.017644,1.404447,-0.586560,1.183865,0.617513,1.093971,0.421736,2010,Virginia Commonwealth,c1c1e6df-a383-4fbd-ba7b-32d4f9ef9518,40,-0.721042,-0.409295,0.700,-0.488924,0.258111,0.434,0.424,0.715,0.015550,75.240000,-0.445550,-0.080050,-1.110844,1.177593,-0.273266,1.291982,-0.214904,-0.318450,Big 12,Atlantic 10,1,1

In [29]:

feature_data = tourney_data.drop(columns=['season_t','round','game_date','team','team_id_t',
                                         'opp_team','opp_team_id','game_result','start_season',
                                         'season_o','team_id_o','Games_t','Games_o',
                                          'School_o','School_t',
                                         'conf_name_t','conf_name_o']).copy()
feature_data.head()

,team_seed,opp_team_seed,SRS_t,SOS_t,win_pct_t,pts_avg_t,opp_pts_avg_t,fg_pct_t,allow_fg_pct_t,ft_pct_t,allow_ft_att_avg_t,poss_avg_t,off_rebs_avg_t,allow_off_rebs_avg_t,def_rebs_avg_t,allow_def_rebs_avg_t,to_avg_t,steal_avg_t,off_rating_t,ft_att_avg_t,SRS_o,SOS_o,win_pct_o,pts_avg_o,opp_pts_avg_o,fg_pct_o,allow_fg_pct_o,ft_pct_o,allow_ft_att_avg_o,poss_avg_o,off_rebs_avg_o,allow_off_rebs_avg_o,def_rebs_avg_o,allow_def_rebs_avg_o,to_avg_o,steal_avg_o,off_rating_o,ft_att_avg_o,top_conf,upset_seed_threshold
0,8,9,-0.007116,0.295521,0.686,0.762567,1.202634,0.496,0.419,0.681,-0.329309,78.434286,0.124199,1.486906,-0.728602,-0.586560,0.499238,-0.175949,0.515246,0.813407,-0.594452,-0.120888,0.706,-0.286178,0.476227,0.428,0.438,0.723,0.015550,77.494118,0.114672,-0.080050,-1.955229,1.759565,-0.937318,0.573192,-0.506838,-0.318450,1,0
1,7,10,-0.261355,-0.306070,0.765,-0.679546,-0.472304,0.447,0.435,0.698,0.399210,75.688235,0.124199,0.734631,0.124617,0.016722,-0.870016,-0.175949,-0.612197,-0.753279,-0.270064,1.148510,0.559,-2.110890,-0.614351,0.439,0.434,0.724,1.109496,68.341176,-1.005772,-1.552344,-1.110844,0.595622,-0.937318,-1.583176,-0.652509,-1.800864,-1,0
2,12,5,-0.808551,-1.134792,0.788,-0.473530,-0.472304,0.455,0.395,0.643,0.399210,78.884848,0.718581,-0.017644,-1.155212,-0.586560,1.183865,0.617513,-1.103889,-0.361607,0.377392,-0.269153,0.750,0.524804,-0.178120,0.450,0.444,0.701,0.744847,81.044444,1.235117,0.656097,-2.377422,0.595622,-0.273266,3.448350,-0.333128,-1.059657,0,1
3,12,5,-0.720793,-1.042712,0.806,-1.091578,-1.100406,0.410,0.424,0.685,0.034950,76.305556,0.718581,-0.017644,-2.435041,1.223287,-0.185389,2.997900,-1.280184,-0.361607,0.447281,-0.405233,0.818,0.727550,-0.614351,0.482,0.393,0.748,0.015550,77.496970,-0.445550,-0.816197,0.155734,-0.568322,0.390785,-0.145597,0.787506,-0.689054,0,1
4,1,11,1.255048,0.387601,0.921,1.586632,-0.053569,0.508,0.380,0.679,0.034950,80.126316,0.124199,-0.017644,1.404447,-0.586560,1.183865,0.617513,1.093971,0.421736,-0.721042,-0.409295,0.700,-0.488924,0.258111,0.434,0.424,0.715,0.015550,75.240000,-0.445550,-0.080050,-1.110844,1.177593,-0.273266,1.291982,-0.214904,-0.318450,1,1

In [30]:
X= feature_data
y= tourney_data['game_result']

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state= 5)
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)
X_train.head()

(375, 40)
(375,)
(94, 40)
(94,)

,team_seed,opp_team_seed,SRS_t,SOS_t,win_pct_t,pts_avg_t,opp_pts_avg_t,fg_pct_t,allow_fg_pct_t,ft_pct_t,allow_ft_att_avg_t,poss_avg_t,off_rebs_avg_t,allow_off_rebs_avg_t,def_rebs_avg_t,allow_def_rebs_avg_t,to_avg_t,steal_avg_t,off_rating_t,ft_att_avg_t,SRS_o,SOS_o,win_pct_o,pts_avg_o,opp_pts_avg_o,fg_pct_o,allow_fg_pct_o,ft_pct_o,allow_ft_att_avg_o,poss_avg_o,off_rebs_avg_o,allow_off_rebs_avg_o,def_rebs_avg_o,allow_def_rebs_avg_o,to_avg_o,steal_avg_o,off_rating_o,ft_att_avg_o,top_conf,upset_seed_threshold
212,16,1,-2.078459,-1.638164,0.583,-1.709626,-0.053569,0.421,0.428,0.699,0.763470,72.988889,-0.470183,-0.017644,-2.008432,1.223287,-0.185389,0.617513,-1.292228,-0.753279,1.433630,0.524982,0.806,0.930296,-0.614351,0.482,0.390,0.743,-1.078396,77.822222,0.674895,0.656097,-0.266458,-1.732266,1.054837,0.573192,0.962078,1.534567,-1,1
191,2,15,0.870462,-0.123956,0.921,0.968583,-0.681671,0.520,0.390,0.691,-0.329309,73.747368,-0.470183,-0.017644,1.404447,-1.793125,-0.870016,-0.969411,2.021053,0.030064,-2.076613,-1.914293,0.697,-1.908144,-0.614351,0.434,0.421,0.692,-1.078396,69.200000,-1.565994,-2.288490,0.155734,1.177593,-1.601369,-1.583176,-0.592090,-1.059657,0,1
263,3,14,0.550404,0.987145,0.750,-1.091578,-1.100406,0.459,0.390,0.714,-0.329309,74.833333,0.124199,-0.769919,-0.728602,-1.189843,1.183865,1.410976,-0.932595,-0.753279,-0.906972,-1.406534,0.765,-0.488924,-0.614351,0.484,0.415,0.731,0.380199,72.652941,-1.565994,-0.816197,-1.533036,-1.732266,1.718888,-0.145597,0.459558,-0.318450,1,1
466,2,15,0.345206,0.547206,0.794,0.762567,0.783900,0.456,0.433,0.701,0.399210,78.694118,0.124199,0.734631,-1.155212,0.016722,0.499238,-0.175949,0.450982,1.596750,-1.286743,-2.220979,0.771,0.322059,0.039996,0.444,0.414,0.768,0.015550,77.948571,0.114672,-0.080050,-1.533036,0.595622,-0.273266,0.573192,0.156951,0.052153,1,1
241,14,3,-1.149258,-1.587008,0.714,-0.473530,-0.472304,0.480,0.388,0.725,0.763470,72.331429,-1.064564,0.734631,-0.728602,-0.586560,-0.870016,2.204438,0.512849,-0.361607,0.503983,0.717930,0.706,-0.894415,-1.050583,0.434,0.402,0.674,-0.349099,76.388235,1.795339,0.656097,0.155734,-1.732266,0.390785,0.573192,-1.025149,0.052153,-1,1

In [32]:
logreg = LogisticRegression()

result = logreg.fit(X_train,y_train)

print("Coeffs ",logreg.coef_)
print("Intercept ", logreg.intercept_)

Coeffs  [[ 0.03474719 -0.11768226  0.80759762  0.50176652  1.35671918 -0.12996518
   0.04604274  0.01222078 -0.02695484 -0.11224932 -0.10468778  0.10423423
  -0.18666109  0.10435803 -0.14620709 -0.38534042 -0.30921603  0.35622867
  -0.07580765 -0.30463719 -0.83919172 -0.86254888 -1.34762062  0.24723232
   0.42312077 -0.0440872   0.17159414  0.17709819  0.11007766 -0.09688961
   0.00182506  0.01833185  0.12011945  0.05851105  0.13877984 -0.24840486
  -0.5072312  -0.08336525 -0.35572818 -0.07816011]]
Intercept  [-0.02298398]

In [33]:
display_important_features_regression(logreg, X_train)

Coefficient Values
win_pct_t   1.356719176342476
win_pct_o   -1.3476206234673493
SOS_o   -0.862548881450642
SRS_o   -0.8391917226637765
SRS_t   0.8075976162175847
off_rating_o   -0.5072312019433552
SOS_t   0.5017665207885235
opp_pts_avg_o   0.4231207672588095
allow_def_rebs_avg_t   -0.3853404162028196
steal_avg_t   0.3562286722432552
top_conf   -0.35572817679859037
to_avg_t   -0.3092160321894241
ft_att_avg_t   -0.3046371910206148
steal_avg_o   -0.24840486335569822
pts_avg_o   0.2472323231533702
off_rebs_avg_t   -0.18666108518125424
ft_pct_o   0.17709818631080176
allow_fg_pct_o   0.17159414118211852
def_rebs_avg_t   -0.1462070949654248
to_avg_o   0.1387798437761147
pts_avg_t   -0.12996517829814017
def_rebs_avg_o   0.1201194515444096
opp_team_seed   -0.11768225785558979
ft_pct_t   -0.11224931990587954
allow_ft_att_avg_o   0.11007766439912413
allow_ft_att_avg_t   -0.10468777965822702
allow_off_rebs_avg_t   0.10435803018527542
poss_avg_t   0.10423423365942037
poss_avg_o   -0.09688961121458972
ft_att_avg_o   -0.08336524882165544
upset_seed_threshold   -0.0781601075816471
off_rating_t   -0.07580764527763578
allow_def_rebs_avg_o   0.05851105105050423
opp_pts_avg_t   0.04604273921825473
fg_pct_o   -0.04408719590184886
team_seed   0.03474718503531045
allow_fg_pct_t   -0.02695484327012346
allow_off_rebs_avg_o   0.018331853069323452
fg_pct_t   0.012220781418440445
off_rebs_avg_o   0.0018250618787437587

In [34]:
y_pred = logreg.predict(X_test)
prediction_probabilities = logreg.predict_proba(X_test)
print("LR model prediction accuracy is %2.2f" % metrics.accuracy_score(y_test, y_pred))

LR model prediction accuracy is 0.74

In [ ]:
print("Log loss= ",log_loss(y_test,logreg.predict_proba(X_test)))

In [ ]:
cnf_matrix = metrics.confusion_matrix(y_test, y_pred)
cnf_matrix

In [ ]:
class_names=[0,1] # name  of classes
fig, ax = plt.subplots()
tick_marks = np.arange(len(class_names))
plt.xticks(tick_marks, class_names)
plt.yticks(tick_marks, class_names)
# create heatmap
sns.heatmap(pd.DataFrame(cnf_matrix), annot=True, cmap="YlGnBu" ,fmt='g')
ax.xaxis.set_label_position("top")
plt.tight_layout()
plt.title('Confusion matrix', y=1.1)
plt.ylabel('Actual label')
plt.xlabel('Predicted label')

In [ ]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
print("Precision:",metrics.precision_score(y_test, y_pred))
print("Recall:",metrics.recall_score(y_test, y_pred))
print("Log loss= ",log_loss(y_test, prediction_probabilities))

In [ ]:
# Retrieve the non-normalized game stats
prediction_probabilities[:,1]
pred_probs = pd.Series(prediction_probabilities[:,1], index=X_test.index)
predictions = pd.Series(y_pred, index=y_test.index)
test_games = tourney_data[tourney_data.index.isin(X_test.index)].copy()

test_games[numeric_feature_to_scale] = scaler.inverse_transform(test_games[numeric_feature_to_scale])
test_games['predicted_result'] = predictions
test_games['pred_win_prob'] = pred_probs

test_games.head()

In [ ]:
missed_predictions = test_games[test_games['game_result'] != 
                                test_games['predicted_result']].sort_values(by='pred_win_prob', ascending=False)
missed_predictions[['predicted_result','game_result','pred_win_prob','team','team_seed','conf_name_t', 'opp_team','opp_team_seed', 
                    'conf_name_o','top_conf','season_t','round']]

In [ ]:
print_game_info(test_games, 2017, 64, 'USC')

In [ ]:
train_sizes, train_scores, test_scores = learning_curve(LogisticRegression(), 
                                                        X, 
                                                        y,
                                                        # Number of folds in cross-validation
                                                        cv=10,
                                                        # Evaluation metric
                                                        scoring='accuracy',
                                                        # Use all computer cores
                                                        n_jobs=-1, 
                                                        # 50 different sizes of the training set
                                                        train_sizes=np.linspace(0.01, 1.0, 50))

In [ ]:
# Create means and standard deviations of training set scores
train_mean = np.mean(train_scores, axis=1)
train_std = np.std(train_scores, axis=1)

# Create means and standard deviations of test set scores
test_mean = np.mean(test_scores, axis=1)
test_std = np.std(test_scores, axis=1)

# Draw lines
plt.plot(train_sizes, train_mean, '--', color="#111111",  label="Training score")
plt.plot(train_sizes, test_mean, color="#111111", label="Cross-validation score")

# Draw bands
plt.fill_between(train_sizes, train_mean - train_std, train_mean + train_std, color="#DDDDDD")
plt.fill_between(train_sizes, test_mean - test_std, test_mean + test_std, color="#DDDDDD")

# Create plot
plt.title("Learning Curve")
plt.xlabel("Training Set Size"), plt.ylabel("Accuracy Score"), plt.legend(loc="best")
plt.tight_layout()
plt.show()

In [ ]:
X.shape

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
train_sizes, train_scores, test_scores = learning_curve(RandomForestClassifier(200, max_features='sqrt',
                                                                   min_samples_split=10, min_samples_leaf=2,
                                                                   max_depth=10, random_state=0), 
                                                        X, 
                                                        y,
                                                        # Number of folds in cross-validation
                                                        cv=10,
                                                        # Evaluation metric
                                                        scoring='accuracy',
                                                        # Use all computer cores
                                                        n_jobs=-1, 
                                                        # 50 different sizes of the training set
                                                        train_sizes=np.linspace(0.01, 1.0, 50))

In [ ]:
# Create means and standard deviations of training set scores
train_mean = np.mean(train_scores, axis=1)
train_std = np.std(train_scores, axis=1)

# Create means and standard deviations of test set scores
test_mean = np.mean(test_scores, axis=1)
test_std = np.std(test_scores, axis=1)

# Draw lines
plt.plot(train_sizes, train_mean, '--', color="#111111",  label="Training score")
plt.plot(train_sizes, test_mean, color="#111111", label="Cross-validation score")

# Draw bands
plt.fill_between(train_sizes, train_mean - train_std, train_mean + train_std, color="#DDDDDD")
plt.fill_between(train_sizes, test_mean - test_std, test_mean + test_std, color="#DDDDDD")

# Create plot
plt.title("Learning Curve")
plt.xlabel("Training Set Size"), plt.ylabel("Accuracy Score"), plt.legend(loc="best")
plt.tight_layout()
plt.show()

#### Cross Validation Evaluation

In [ ]:
from sklearn.model_selection import cross_val_score

In [ ]:
scores = cross_val_score(LogisticRegression(), X,y, cv=10, scoring='accuracy')
print(scores.mean())